{% extends "base/base.html" %}
{% load customfilters %}
{% load static %}
{% block content %}
<div class="articles_with_side_bar row mx-auto">

<div class="article__encloser col-12 col-md-8 col-xxl-10 p-5">
    <small class="d-block"><span class="text-muted">Type:</span> {{article.article_type}}</small>
    <small class="d-block"><span class="test-muted">Institution:</span> {{article.institution}}</small>
    <h2 class="headline__art_en">{{article.title}}</h2>
    <a href="{% url 'profile_view' article.user.id %}" class="text-dark no_underline cursor__pointer d-flex justify-content-start align-items-center">
        {%if article.user.profile_picture%}
    <img class="pp" src="{{article.user.profile_picture.url}}" alt="">
    {% else %}
    <img class="pp" src="{% static 'base/images/default_pp.png' %}" alt="">

    {% endif %}

    {% if article.user.first_name or article.user.last_name %}
    <p class="mx-2 fw-bold my-0">{{article.user.first_name}} {{article.user.last_name}}</p>
    {% else %}
    <p class="mx-2 fw-bold my-0">{{article.user.email}}</p>
    {% endif%}

</a>

    <div class="description">
        <hr>
        {% autoescape off %}
        <p>{{article.description}}</p>
        {% endautoescape %}
    </div>
    <hr>
    <div class="all__minor__details">
        {% if article.keywords.all %}

        <small class="d-block my-2">
            <b>Keywords:</b>
            <span>
                &nbsp;
                {% for keyword in article.keywords.all %}
                {{ keyword.name }} •
                {% endfor %}
            </span>
        </small>
        {% endif %}

        {% if article.published_date %}
        <small class="d-block my-2"><b>Published on:</b> {{article.published_date}}</small>
        {% endif %}
        {% if article.disclaimer %}
        <small class="d-block my-2"><b>Disclaimer:</b> {{article.disclaimer}}</small>
        {% endif %}

        {% if article.copyright %}
        <small class="d-block my-2"><b>Copyright:</b> {{article.copyright}}</small>
        {% endif %}

    </div>

    <div class="resources">
        <hr>
        <h1 class="fw-bold">Available Resources</h1>
        <ul class="d-flex justify-content-center align-items-center flex-wrap">
            {% if article.resources.all %}
            {% for document in article.resources.all %}
        <div class="m-4">
            <a href="{{ document.file.url }}" class="btn btn-outline-dark"><i class="fa fa-download"></i> {{ document.get__name }}</a>
        </div>
            {% endfor %}

        </ul>
        {% else %}
        <p class="text-danger">No Resource Found!</p>
        {% endif %}
    </div>
</div>


<div class="latest_articles col-12 col-md-4 col-xxl-2 p-5">
    <h1 class="fw-bold text-success">Latest Articles</h1>
    {% for article in latest_articles %}
    <hr>

    <a href="{% url 'article_view' article.id %}" class="cursor__pointer no_underline text-dark">
        <div class="sidebar_articles">
        <small class="d-block text-muted">{{article.article_type}} | {{article.published_date}}</small>
          <small class="fw-semibold">{{article.title | slice:"0:50"}}</small>
        </div>

    </a>
    {% endfor %}

</div>



</div>



{% endblock content %}