{% extends "base/base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'base/js/tinymce.js'%}" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#description',
        height: 656,
        width: "100%",
    });
</script>

<!-- create_article.html -->
<form action="{% url 'create_article_view' %}" class="main__create_article__form" method="POST">
    <!-- title  -->
    <div class="w-100">

    <h1 class="fw-bold my-5 d-flex justify-content-center">Article Title, Type and Institution</h1>

        <div class="single__target">
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <!-- end title  -->

        <!-- article type -->

        <div class="single__target">
            <input class="form-control" list="article_type_datalist" id="article_type"
                placeholder="Select the Article Type..." name="article_type">
            <datalist id="article_type_datalist">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">

            </datalist>


        </div>

        <!-- end article type -->

        <div class="single__target">
            <input class="form-control" list="institute_datalist" id="institute"
                placeholder="Select the Article Type..." name="institute">
            <datalist id="institute_datalist">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">

            </datalist>

        </div>

    <h1 class="fw-bold my-5 d-flex justify-content-center">Article Description</h1>

        <div class="single__target">
            <textarea name="description" placeholder="Add Description" class="w-100 form-control" id="description"
                rows="20"></textarea>
        </div>

    <h1 class="fw-bold my-5 d-flex justify-content-center">Article Disclaimer and Copyright</h1>

        <div class="single__target">
            <textarea name="disclaimer" placeholder="Add Disclaimer" class="form-control" id="disclaimer"
                rows="5"></textarea>
        </div>

        <div class="single__target">
            <textarea name="copyright" placeholder="Add Copyright" class="form-control" id="copyright"
                rows="5"></textarea>
        </div>



    <h1 class="fw-bold my-5 d-flex justify-content-center">Article Keywords</h1>


        <div class="single__target multi-search-filter"
            onclick="Array.from(this.children).find(n=>n.tagName==='INPUT').focus()">
            <div class="all_add_keywords cursor__pointer" id="all_add_keywords">
            </div>
            <input placeholder="Add Keywords" type="text" onkeyup="multiSearchKeyup(this)">
        </div>
    </div>
    <div>
        <h1 class="fw-bold">Upload the Resources Here...</h1>
        <hr>
        <p class="fw-bold my-2 text-success ">You can provide name of the file (if you want)</p>

        <div class="all_file__upload mt-3">

            <div class="single__file__uploaded">
            <div>
                <input placeholder="File Name..." class="form-control rounded-end-pill border border-2" type="text"
                    id="filename">
            </div>
            <div id="file__input__div">
                <input class="form-control rounded-end-pill border border-2" type="file" id="file">
            </div>
        </div>


            <button type="button" class="btn btn-primary rounded-end-pill" onclick="addFileInput()">Add More
                Files</button>

        </div>

    </div>
</form>
<script>
    function multiSearchKeyup(inputElement) {
        if (event.keyCode === 13) {
            var allAddKeywordsElement = inputElement.parentNode.querySelector('#all_add_keywords');
            var newFilterItem = createFilterItem(inputElement.value);
            allAddKeywordsElement.appendChild(newFilterItem); // Append as a child to allAddKeywordsElement
            inputElement.value = "";
        }
        function createFilterItem(text) {
            const item = document.createElement("div");
            item.setAttribute("class", "multi-search-item");
            item.addEventListener("click", function() {this.remove()})
            const span = `${text}`;
            // const close = `<div class="fa fa-close" onclick="this.parentNode.remove()"></div>`;
            item.innerHTML = span ;
            return item;
        }
    };

    function addFileInput() {
        var fileUploadDiv = document.querySelector('.all_file__upload');
        var newFileDiv = document.createElement('div');
        newFileDiv.classList.add('single__file__uploaded');

        var fileNameInput = document.createElement('input');
        fileNameInput.type = 'text';
        fileNameInput.placeholder = 'File Name...';
        fileNameInput.classList.add('form-control', 'rounded-end-pill', 'border', 'border-2');

        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.classList.add('form-control', 'rounded-end-pill', 'border', 'border-2');

        newFileDiv.appendChild(fileNameInput);
        newFileDiv.appendChild(fileInput);

        // Insert the new div after the first div with the class 'single__file__uploaded'
        fileUploadDiv.insertBefore(newFileDiv, fileUploadDiv.children[1]);
    }

</script>
{% endblock content %}