{% extends "base/base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'base/js/tinymce.js'%}" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#description',
        height: 656,
        width: "100%",
    });
</script>

<!-- create_article.html -->

{% if messages %}
<ul class="errorlist">
    {% for message in messages %}
    <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'create_article_view' %}" class="needs-validation main__create_article__form"
    id="article__creation__form" enctype="multipart/form-data" method="POST" onkeydown="return event.key != 'Enter';">
    {% csrf_token %}
    <!-- title  -->
    <div class="w-100">

        <h1 class="fw-bold my-5 d-flex justify-content-center">Article Title, Type and Institution</h1>

        <div class="single__target">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <!-- end title  -->

        <!-- article type -->

        <div class="single__target">
            <input class="form-control" list="article_type_datalist" id="article_type"
                placeholder="Select the Article Type..." name="article_type" required>
            <datalist id="article_type_datalist">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">

            </datalist>


        </div>

        <!-- end article type -->

        <div class="single__target">
            <input required class="form-control" list="institute_datalist" id="institute"
                placeholder="Select the Institution..." name="institute">
            <datalist id="institute_datalist">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">

            </datalist>

        </div>

        <h1 class="fw-bold my-5 d-flex justify-content-center">Article Description</h1>

        <div class="single__target">
            <textarea name="description" placeholder="Add Description" class="w-100 form-control" id="description"
                rows="20"></textarea>
        </div>

        <h1 class="fw-bold my-5 d-flex justify-content-center">Article Disclaimer and Copyright</h1>

        <div class="single__target">
            <textarea name="disclaimer" placeholder="Add Disclaimer" class="form-control" id="disclaimer"
                rows="5"></textarea>
        </div>

        <div class="single__target">
            <textarea name="copyright" placeholder="Add Copyright" class="form-control" id="copyright"
                rows="5"></textarea>
        </div>



        <h1 class="fw-bold my-5 d-flex justify-content-center">Article Keywords</h1>


        <div class="single__target multi-search-filter"
            onclick="Array.from(this.children).find(n=>n.tagName==='INPUT').focus()">
            <div class="all_add_keywords cursor__pointer" id="all_add_keywords">
            </div>
            <input id="keywords" placeholder="Add Keywords" type="text" onkeyup="multiSearchKeyup(this)">
            <input required name="all_keywords" id="all_keywords" placeholder="Add Keywords" hidden type="text">
        </div>

        <button class="btn btn-outline-success my-5 rounded-pill" type="submit">Submit</button>
    </div>
    </div>
    <div>
        <h1 class="fw-bold">Upload the Resources Here...</h1>
        <hr>
        <p class="fw-bold my-2 text-success ">You can provide name of the file (if you want)</p>

        <div class="all_file__upload mt-3">

            <div class="single__file__uploaded">
                <button class="btn btn-danger btn-sm my-0 float-end" onclick="deleteNode(this)">
                    <i class="fa fa-trash-o"></i>
                </button>

                <div>
                    <input placeholder="File Name..." class="form-control rounded-end-pill border border-2" type="text"
                        id="filename" required name="filename">
                </div>
                <div id="file__input__div">
                    <input onchange="showProgress(event)" class="form-control rounded-end-pill border border-2"
                        type="file" required id="file" name="file">
                </div>
                <div class="progress_bar__div">
                    <progress value="0" max="100" id="fileProgress" style="display: none;"></progress>
                    <div id="progressStatus" class="ariel" style="display: none;"></div>
                </div>


            </div>


        </div>

        <button type="button" class="btn btn-primary rounded-end-pill" onclick="addFileInput()">Add More
            Files</button>


    </div>

</form>
<script>

    function deleteNode(elem) {
        var parentDiv = elem.parentNode;

        parentDiv.parentNode.removeChild(parentDiv);
    };

    function setValue(elem, prev, now) {
        elem.setAttribute('value', `${prev}${prev && ','}${now}`)
    };

    function multiSearchKeyup(inputElement) {
        if (inputElement.value) {
            if (event.keyCode === 13) {
                var allAddKeywordsElement = inputElement.parentNode.querySelector('#all_add_keywords');
                let hidden_Keywords = inputElement.parentNode.querySelector('#all_keywords');
                setValue(hidden_Keywords, hidden_Keywords.value, inputElement.value);
                var newFilterItem = createFilterItem(inputElement.value, hidden_Keywords);
                allAddKeywordsElement.appendChild(newFilterItem);
                inputElement.value = "";
            }
        }
    }
    function createFilterItem(text, hidden_Keywords) {
        const item = document.createElement("div");
        item.setAttribute("class", "multi-search-item");
        item.addEventListener("click", function () {
            this.remove();
            let new_val = hidden_Keywords.value;

            // Remove the keyword from the string
            new_val = new_val.replace(text, '');

            // Remove any leading comma
            if (new_val.startsWith(',')) {
                new_val = new_val.substring(1);
            }

            // Remove any trailing comma
            if (new_val.endsWith(',')) {
                new_val = new_val.substring(0, new_val.length - 1);
            }

            // Remove any double commas resulting from keyword removal
            new_val = new_val.replace(/,,/g, ',');

            hidden_Keywords.setAttribute('value', new_val);
        });
        const span = text;
        item.innerHTML = span;
        return item;
    }


    function addFileInput() {
        var fileUploadDiv = document.querySelector('.all_file__upload');
        var newFileDiv = document.createElement('div');
        newFileDiv.classList.add('single__file__uploaded');

        var deleteButton = document.createElement('button');
        deleteButton.addEventListener('click', function () {
            deleteNode(this);
        });

        deleteButton.classList.add('btn', 'btn-danger', 'btn-sm', 'my-0', 'float-end');
        deleteButton.innerHTML = '<i class="fa fa-trash-o"></i>';

        // Create unique IDs based on the number of existing file inputs
        var index = fileUploadDiv.getElementsByClassName('single__file__uploaded').length;
        newFileDiv.id = 'fileDiv' + (index + 1); // Set unique ID for the file div

        var fileNameInput = document.createElement('input');
        fileNameInput.type = 'text';
        fileNameInput.required = true;
        fileNameInput.placeholder = 'File Name...';
        fileNameInput.classList.add('form-control', 'rounded-end-pill', 'border', 'border-2');
        fileNameInput.id = 'filename' + (index + 1); // Set unique ID for filename input
        fileNameInput.name = 'filename' + (index + 1); // Set unique ID for filename input

        var fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.required = true;

        fileInput.addEventListener('change', function (event) {
            showProgress(event)
        });

        fileInput.classList.add('form-control', 'rounded-end-pill', 'border', 'border-2');
        fileInput.id = 'file' + (index + 1); // Set unique ID for file input
        fileInput.name = 'file' + (index + 1); // Set unique ID for file input

        // Progress bar div
        var progressBar = document.createElement('div');
        progressBar.classList.add('progress_bar__div');
        progressBar.innerHTML = `
        <progress value="0" max="100" id="fileProgress${index + 1}" style="display: none;"></progress>
            <div id="progressStatus${index + 1}" class="ariel" style="display: none;"></div>
    `;


        newFileDiv.appendChild(deleteButton);
        newFileDiv.appendChild(fileNameInput);
        newFileDiv.appendChild(fileInput);
        newFileDiv.appendChild(progressBar);

        // Insert the new div after the first div with the class 'single__file__uploaded'
        fileUploadDiv.appendChild(newFileDiv);
    };

    function showProgress(event) {
        const fileInput = event.target;
        const container = fileInput.closest('.single__file__uploaded');
        if (!container) {
            console.error('Container element not found.');
            return;
        }

        const progress = container.querySelector('progress');
        const status = container.querySelector('.ariel');

        if (!progress || !status) {
            console.error('Progress bar or status element not found in the container.');
            return;
        }

        progress.style.display = 'block';
        status.style.display = 'block';

        const file = fileInput.files[0];

        const reader = new FileReader();

        reader.onloadstart = function () {
            progress.value = 0;
            status.innerText = 'Loading...';
        };

        reader.onprogress = function (event) {
            if (event.lengthComputable) {
                const percentLoaded = Math.round((event.loaded / event.total) * 100);
                progress.value = percentLoaded;
                status.innerText = `${percentLoaded}%`;
            }
        };

        reader.onloadend = function () {
            progress.value = 100;
            status.innerText = 'Loaded';
        };

        reader.readAsDataURL(file);
    }


</script>
{% endblock content %}