{% load static %}



<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="{% url 'homepage_view' %}">
            <img class="logo_image" src="{% static 'base/images/pepin_logo.png' %}" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="mx-2"><a class="btn active rounded-pill" href="{% url 'create_article_view' %}">Submit your Article</a></li>
            {% if request.user.is_authenticated %}
            <li class="mx-2"><a class="btn active rounded-pill" href="{% url 'user_profile_edit_view' %}">Edit Profile</a></li>
            <li class="mx-2"><a class="btn active rounded-pill" href="{% url 'profile_view' request.user.id %}">Profile</a></li>
            {% endif %}
        </ul>
        <div class="d-flex">
            {% if user.is_authenticated %}
            <!-- User is logged in -->
            <a href="{% url 'logout_view' %}" class="mx-2 bttn  no_underline text-dark">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        {% else %}
            <!-- User is not logged in -->
            <a href="{% url 'login_view' %}" class="mx-2 bttn  no_underline text-dark"><i class="fa fa-sign-in"></i> Login</a>
            <a href="{% url 'signup_view' %}" class="mx-2 bttn  no_underline text-dark">Signup</a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>