{% load static %}
<nav class="base__navbar">
<div class="left">
    <a href="{% url 'homepage_view' %}">
    <img class="logo_image" src="{% static 'base/images/pepin_logo.png' %}" alt="">
</a>
</div>
<div class="middle">
    <a class="btn active rounded-pill" href="{% url 'create_article_view' %}">Submit your Article</a>
</div>
<div class="right">
    
    {% if user.is_authenticated %}
        <!-- User is logged in -->
        <a href="{% url 'logout_view' %}" class="bttn  no_underline text-dark">
            <i class="fa fa-sign-out"></i> Logout
        </a>
    {% else %}
        <!-- User is not logged in -->
        <a href="{% url 'login_view' %}" class="bttn  no_underline text-dark"><i class="fa fa-sign-in"></i> Login</a>
        <a href="{% url 'signup_view' %}" class="bttn  no_underline text-dark">Signup</a>
    {% endif %}
</div>
</nav>