{% extends "base/base.html" %}
{% block content %}
<div class="main_all_articles w-75 mx-auto my-5">


<span class="fw-bold fs-2 ariel">{{all_articles|length}} Article(s)</span>
<div class="all_filters mt-3 d-flex justify-content-center align-items-center">
    <div class="left_filters mx-4">

        <a class="btn active rounded-pill" href="{% url 'homepage_view' %}?sort=recent">Most Recent</a>

        <a class="btn active rounded-pill" href="{% url 'homepage_view' %}?sort=viewed">Most viewed</a>
    </div>
    <form class="mx-4 d-flex justify-content-center align-items-center " method="GET" action="{% url 'homepage_view' %}" >
    <input name="sort" type="text" class="rounded-start-pill border-end-0 border-dark">
    <button type="submit" class="btn btn-sm rounded-end-pill btn-dark">Search</button>
</form>
</div>

<div class="all_articles_container my-5">
    {% if not all_articles %}
    <button class="btn btn-danger btn-sm rounded-pill">No Articles Found!</button>
    {% endif %}
    {% for article in all_articles %}
    <a class="article_card text-dark no_underline" href="{% url 'article_view' article.id %}">

        <small class="my-0 text-muted">{{article.article_type}}</small>
        <small class="text-muted published_date_of_article">Published on: {{article.published_date}}</small>
        <span class="h4 art__headline">{{article.title | slice:"0:100" }}</span>
        <small class="article_keywords text-muted">
            {% for keyword in article.keywords.all|slice:":6" %}
                {{ keyword.name }} •
            {% endfor %}
        </small>
        <small class="my-0 text-muted">{{article.institution}}</small>
        <hr class="my-2 w-50">
        <small class="my-0">Views: {{article.views}}</small>
    </a>
    {% endfor %}
</div>
</div>
{% endblock content %}