{% extends "base/base.html" %}
{% load static %}
{% load customfilters %}
{% block content %}
<div class="profile_view w-75 mx-auto">
  {% csrf_token %}
  
  {% if messages %}
  <ul class="errorlist">
    {% for message in messages %}
    <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="first_profile_encloser my-5 ">
    <div class="profile__details row">
      <div class="col-12 col-sm-2">

      {% if user.profile_picture %}
      <img class="pp" src="{{user.profile_picture.url}}" alt="">
      {% else %}
      <img class="pp" src="{% static 'base/images/default_pp.png' %}" alt="">
      {%endif%}
    </div>

      <div class="col-12 col-sm-10  px-4 name_det">
        {% if user.first_name or user.last_name %}
        <h1 class="fw-bold my-0">{{user.first_name}} {{user.last_name}}</h1>
        {% else %}
        <h1 class="fw-bold my-0">{{user.email}}</h1>
        {% endif%}

        <small class="my-0">{{user.title}}</small>
        <div class="icon_pack_social d-flex ">
          <a target="_blank" href="{{user.facebook_link}}"><i class="mx-2 text-secondary fab fa-facebook-f" aria-hidden="true"></i></a>
          <a target="_blank" href="{{user.linkedin_link}}"><i class="mx-2 text-secondary fab fa-linkedin"></i></a>
          <a target="_blank" href="{{user.twitter_link}}"><i class="mx-2 text-secondary fab fa-twitter"></i></a>
          <a target="_blank" href="{{user.instagram_link}}"><i class="mx-2 text-secondary fab fa-instagram"></i></a>
        </div>
      </div>

    </div>
    <div class="profile__stats my-5 d-flex flex-wrap flex-row justify-content-around">


      <div class="card text-bg-primary mb-3 mx-2" style="min-width: 10rem; max-width:10rem;">
        <div class="card-header">Total Articles</div>
        <div class="card-body">
          <h5 class="card-title">{{user.total_publications}}</h5>
        </div>
      </div>


      <div class="card text-bg-dark mb-3 mx-2" style="min-width: 10rem; max-width:10rem;">
        <div class="card-header">Total Articles Views</div>
        <div class="card-body">
          <h5 class="card-title">{{user.publication_views}}</h5>
        </div>
      </div>


      <div class="card text-bg-dark mb-3 mx-2" style="min-width: 10rem; max-width:10rem;">
        <div class="card-header">Profile Views</div>
        <div class="card-body">
          <h5 class="card-title">{{user.profile_views}}</h5>
        </div>
      </div>


      <!-- <div class="card text-bg-primary mb-3 mx-2" style="min-width: 10rem; max-width:10rem;">
        <div class="card-header">Followers</div>
        <div class="card-body">
          <h5 class="card-title">{{user.followers.all | length}}</h5>
        </div>
      </div> -->

    </div>

  </div>

  <div class="button__collection dj__shifter__buttons">
    <button class="bg-dark text-light" id="article__btn">Articles</button>
    <button class=" " id="detail__btn">Details</button>
  </div>

  <div id="all_articles" class="all_articles my-5">
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold text-secondary">Articles</h1>
    <button onclick="toggleIconClass(event)" class="btn btn-warning mb-3 rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#articleCollapse" aria-expanded="false" aria-controls="articleCollapse">
        <i id="up_down_icon_upd"  class="fa fa-angle-down"></i>
    </button>
  </div>
    <div class="collapse" id="articleCollapse">
        <hr>
        <div class="all_closer my-3 d-flex flex-wrap justify-content-around">
            {% for article in all_articles %}
            <a class="article_card text-dark no_underline" href="{% url 'article_view' article.id %}">
                <small class="my-0 text-muted">{{article.article_type}}</small>
                <small class="text-muted published_date_of_article">Published on: {{article.published_date}}</small>
                <span class="h4 art__headline">{{article.title | slice:"0:100" }}</span>
                <small class="article_keywords text-muted">
                    {% for keyword in article.keywords.all|slice:":6" %}
                    {{ keyword.name }} •
                    {% endfor %}
                </small>
                <small class="my-0 text-muted">{{article.institution}}</small>
                <hr class="my-2 w-50">
                <small class="my-0">Views: {{article.views}}</small>
            </a>
            {% endfor %}
        </div>
    </div>
    <hr>
</div>


  <div id="all_events" class="all_articles my-5">
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold text-secondary">Events</h1>
    <button onclick="toggleIconClass(event)" class="btn btn-warning mb-3 rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#eventCollapse" aria-expanded="false" aria-controls="eventCollapse">
        <i id="up_down_icon_upd" class="fa fa-angle-down"></i>
    </button>
  </div>
    <div class="collapse" id="eventCollapse">
        <hr>
        <div class="d-flex justify-content-center align-items-stretch flex-wrap main__edu__section">
          {% if all_post %}
  
          {% for post in all_post %}
          <a class="cursor-pointer mx-2 no_underline card__edu_clu__main__single align-items-center text-center my-3 py-3" href="{% url 'event_post' post.id %}">
  
              {% if post.cover_image %}
              <img class="w-75 rounded my-4" src="{{ post.cover_image.url }}"
                  style="aspect-ratio: 16/9; object-fit: cover;" alt="">
              {% endif %}
  
              <h5 class="text-dark">{{ post.title|slice:"0:25" }}...</h5>
              <p class="text-dark text-muted">{{ post.short_description|slice:"0:50" }}...</p>
  
              <div class="text-muted h6 d-flex justify-content-around align-items-center flex-row w-100 flex-wrap">
                  <div class="d-flex justify-content-center align-items-center">
                      <i class="fa fa-calendar " aria-hidden="true"> </i>
                      <span class="mx-2">{{ post.date }}</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                      <i class="far text-dark fa-user mx-2"></i>
                      <small>{{ post.owner_or_institution_name }}</small>
                  </div>
              </div>
  
  
              <button class="bttn my-2">Read more</button>
          </a>
  
          {% endfor %}
          {% else %}
          <h5
              class="d-flex justify-content-center align-items-center main__menu__middle__btns pink__to__top__gradient text-dark">NO POST FOUND!</h5>
          {% endif %}
      </div>
    </div>
<hr>
  </div>


  <div id="all_videos" class="all_articles my-5">
    <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold text-secondary">All Videos</h1>
    <button onclick="toggleIconClass(event)" class="btn btn-warning mb-3 rounded-circle" type="button" data-bs-toggle="collapse" data-bs-target="#videoCollapse" aria-expanded="false" aria-controls="videoCollapse">
        <i id="up_down_icon_upd" class="fa fa-angle-down"></i>
    </button>
  </div>
    <div class="collapse" id="videoCollapse">
        <hr>
        <div class="d-flex justify-content-center align-items-stretch flex-wrap main__edu__section">
          {% if all_post %}
  
          {% for post in all_videos %}
          <div class="cursor-pointer mx-2 no_underline card__edu_clu__main__single align-items-center text-center my-3 py-3" onclick="modal__opener(event)">
  
              {% if post.thumbnail %}
              <img class="w-75 rounded my-4" src="{{ post.thumbnail.url }}"
                  style="aspect-ratio: 16/9; object-fit: cover;" alt="">
              {% endif %}
  
              <h5 class="text-dark">{{ post.title|slice:"0:25" }}...</h5>
              <small class="text-dark d-block">{{post.name_of_researcher}}</small>
  
              <button data-id="{{post.id}}" class="bttn my-2 video-btn" data-bs-toggle="modal" data-src="{{post.video_url}}" data-bs-target="#videoModal{{post.id}}">View</button>
          </div>
  
  
  
            <div class="modal modal-xl fade" id="videoModal{{post.id}}" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true" tabindex="-100">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <iframe style="aspect-ratio: 16/9;" class="embed-responsive-item w-100 h-100" src={{post.video_url|to_embed}} frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
  
          {% endfor %}
          {% else %}
          <h5
              class="d-flex justify-content-center align-items-center main__menu__middle__btns pink__to__top__gradient text-dark">NO POST FOUND!</h5>
          {% endif %}
      </div>
    </div>
    <hr>
</div>



  <div id="other__details" class="other__details d-none my-5">
    <div class="user__bio">
      <h1 class="fw-bold text-secondary my-0">User Bio</h1>
      <hr class="w-75 mt-0 mb-4">
      <p>{{user.user_bio}}</p>
    </div>
    <div class="user__spec my-5">
      <h1 class="fw-bold text-secondary my-0">Specialties</h1>
      <hr class="w-75 mt-0 mb-4">
      {% if user.specialty.all %}
      {% for specialty in user.specialty.all %}
      <h4 class="text-secondary fw-bold">{{specialty.title}}</h4>
      <p>{{specialty.description}}</p>
      <hr class="w-25">
      {% endfor %}
      {% else %}
      <p class="text-danger">No record Found!</p>
      {% endif %}
    </div>


    <div class="user__exp my-5">
      <h1 class="fw-bold text-secondary my-0">Expertise</h1>
      <hr class="w-75 mt-0 mb-4">
      {% if user.expertise.all %}
      {% for specialty in user.expertise.all %}
      <h4 class="text-secondary fw-bold">{{specialty.title}}</h4>
      <p>{{specialty.description}}</p>
      <hr class="w-25">
      {% endfor %}
      {% else %}
      <p class="text-danger">No record Found!</p>
      {% endif %}
    </div>

    <div class="user__edu my-5">
      <h1 class="fw-bold text-secondary my-0">Education</h1>
      <hr class="w-75 mt-0 mb-4">
      {% if user.education.all %}
      {% for specialty in user.education.all %}
      <h4 class="text-secondary fw-bold">{{specialty.title}}</h4>
      <p>{{specialty.description}}</p>
      <hr class="w-25">
      {% endfor %}
      {% else %}
      <p class="text-danger">No record Found!</p>
      {% endif %}
    </div>

    <div class="user__aff my-5">
      <h1 class="fw-bold text-secondary my-0">Affiliations</h1>
      <hr class="w-75 mt-0 mb-4">
      {% if user.affiliations.all %}
      {% for specialty in user.affiliations.all %}
      <h4 class="text-secondary fw-bold">{{specialty.title}}</h4>
      <p>{{specialty.description}}</p>
      <hr class="w-25">
      {% endfor %}
      {% else %}
      <p class="text-danger">No record Found!</p>
      {% endif %}
    </div>


    <div class="user__haa my-5">
      <h1 class="fw-bold text-secondary my-0">Honors and Awards</h1>
      <hr class="w-75 mt-0 mb-4">
      {% if user.honors_and_awards.all %}
      {% for specialty in user.honors_and_awards.all %}
      <h4 class="text-secondary fw-bold">{{specialty.title}}</h4>
      <p>{{specialty.description}}</p>
      <hr class="w-25">
      {% endfor %}
      {% else %}
      <p class="text-danger">No record Found!</p>
      {% endif %}
    </div>


  </div>

</div>

<script>
  window.addEventListener('DOMContentLoaded', function () {

    let article__btn = document.getElementById('article__btn');
    let detail__btn = document.getElementById('detail__btn');
    let all_articles = document.getElementById('all_articles');
    let all_events = document.getElementById('all_events');
    let other__details = document.getElementById('other__details');

    article__btn.addEventListener('click', function () {
      all_articles.classList.remove('d-none')
      all_events.classList.remove('d-none')
      all_videos.classList.remove('d-none')
      other__details.classList.add('d-none')

      article__btn.classList.add('bg-dark')
      detail__btn.classList.remove('bg-dark')
      article__btn.classList.add('text-light')
      detail__btn.classList.remove('text-light')
      // detail__btn.classList.remove('btn-success')
      // detail__btn.classList.add('btn-secondary')
    });
    detail__btn.addEventListener('click', function () {
      all_articles.classList.add('d-none')
      all_events.classList.add('d-none')
      all_videos.classList.add('d-none')
      other__details.classList.remove('d-none')

      detail__btn.classList.add('bg-dark')
      article__btn.classList.remove('bg-dark')
      detail__btn.classList.add('text-light')
      article__btn.classList.remove('text-light')
      // article__btn.classList.remove('btn-success')
      // article__btn.classList.add('btn-secondary')
    });

  });

  function toggleIconClass(e) {
  var icon = e.target.querySelector('i');
  if (icon.classList.contains('fa-angle-down')) {
    icon.classList.remove('fa-angle-down');
    icon.classList.add('fa-angle-up');
  } else {
    icon.classList.remove('fa-angle-up');
    icon.classList.add('fa-angle-down');
  }
}


    function modal__opener(e) {
        if (e.target.parentNode.classList.contains('card__edu_clu__main__single')){
            e.target.parentNode.querySelector('button').click()
        }
    }


</script>
{% endblock content %}