{% extends "base/base.html" %}
{% load static %}
{% block content %}
  
<form method="post" action="{% url 'signup_view' %}" class="ariel login-form-container">
    {% csrf_token %}
    {% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
        {% endfor %}
    </ul>
{% endif %}


<img src="{% static 'base/images/default_pp.png' %}" class="my-3 rounded-circle d-flex mx-auto ppp_preview" alt="" style="width: 10rem; border-radius: 100rem;" id="ppp_preview" >




{% for field in form %}
<div class="form-floating mb-3">
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
{% for error in field.errors %}
<div class="text-danger my-2">{{ error }}</div>
{% endfor %}
{% endfor %}


    <div class="lower__btns">
    <button type="submit" class="green-bg no_border">Register</button>
    <a class="no_underline dark-blue-bg no_border text-white" href='{% url "login_view" %}'>
   Login
  </a>
  </div>
  <a href="{% url 'password_reset' %}">
  <button type="button" class="forget__pass w-100 bg-danger py-3 text-light border-0">Forget Password</button>
</a>
  </form>


  <script>
    const uploadInput = document.getElementById('id_profile_picture');
    const previewImg = document.getElementById('ppp_preview');

    uploadInput.addEventListener('change', function() {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function() {
          previewImg.src = reader.result;
        }
        reader.readAsDataURL(file);
      }
    });
  </script>
  

{% endblock content %}
