{% extends "base/base.html" %}

{% block content %}
  
<form method="post" action="{% url 'signup_view' %}" class="ariel login-form-container">
    {% csrf_token %}
    {% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
        {% endfor %}
    </ul>
{% endif %}




{% for field in form %}
<div class="form-floating mb-3">
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
{% endfor %}


    <div class="lower__btns">
    <button type="submit" class="green-bg no_border">Register</button>
    <a class="no_underline dark-blue-bg no_border text-white" href='{% url "login_view" %}'>
   I have an account
  </a>
  </div>
  </form>
  

{% endblock content %}
