{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% if messages %}
<ul class="errorlist">
    {% for message in messages %}
    <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
    {% endfor %}
</ul>
{% endif %}


<form method="post" novalidate class="user__edit__form row justify-content-between mx-auto w-100" action="{% url 'user_profile_edit_view' %}"
    enctype="multipart/form-data">
    {% csrf_token %}

    <div class="user_left_details col col-12 col-md-5 col-xxl-4">

    <div class="text-center d-flex flex-column align-items-center justify-content-center">
        {% if request.user.profile_picture %}
        <img id="profile__p__edit" class="rounded-circle" src="{{ request.user.profile_picture.url }}" alt="">
        {% else %}
        <img id="profile__p__edit" class="rounded-circle" src="{% static 'base/images/default_pp.png' %}" alt="">
        {% endif %}
        <button type="button" id="changeProfileBtn" class="btn btn-sm btn-warning my-2">Change Profile</button>
        <h6 class="fst-italic my-4 btn btn-light rounded-pill">{{request.user.email}}</h6>

        <input type="file" name="profilePictureInput" id="profilePictureInput" style="display: none;" accept="image/*">
    </div>




            <div class="form-floating mb-3">
                <input value="{{request.user.first_name}}" type="text" id="first_name" name="first_name"
                    class="form-control" placeholder="First Name">
                <label for="first_name">First Name</label>
            </div>







            <div class="form-floating mb-3">
                <input value="{{request.user.last_name}}" type="text" id="last_name" name="last_name"
                    class="form-control" placeholder="First Name">
                <label for="last_name">Last Name</label>
            </div>


    <div class="form-floating mb-3">
        <input maxlength="250" value="{{request.user.user_title}}" type="text" id="user_title" name="user_title" class="form-control"
            placeholder="Title">
        <label for="user_title">Title</label>
    </div>



    <div class="form-floating mb-3">
        <textarea type="text" id="user_bio" name="user_bio" class="form-control" placeholder="Bio"
            style="height: 200px;">{{request.user.user_bio}}</textarea>
        <label for="user_bio">Bio</label>
    </div>



            <div class="form-floating mb-3">
                <input value="{{request.user.facebook_link}}" type="text" onChange="validateUrl(this)"
                    id="facebook_link" name="facebook_link" class="form-control" placeholder="facebook Link">
                <label for="facebook_link">Facebook url</label>
            </div>

            <div class="form-floating mb-3">
                <input value="{{request.user.twitter_link}}" type="text" onChange="validateUrl(this)" id="twitter_link"
                    name="twitter_link" class="form-control" placeholder="twitter Link">
                <label for="twitter_link">Twitter url</label>
            </div>


            <div class="form-floating mb-3">
                <input value="{{request.user.linkedin_link}}" type="text" onChange="validateUrl(this)"
                    id="linkedin_link" name="linkedin_link" class="form-control" placeholder="linkedin Link">
                <label for="linkedin_link">Linkedin url</label>
            </div>

            <div class="form-floating mb-3">
                <input value="{{request.user.instagram_link}}" type="text" onChange="validateUrl(this)"
                    id="instagram_link" name="instagram_link" class="form-control" placeholder="instagram Link">
                <label for="instagram_link">Instagram url</label>
            </div>


</div>
<div class="col col-12 col-md-7 col-xxl-7">
    <div class="specialty_tag my-4">
        <h1 class="fw-bold">Your Specialties</h1>
        <hr>
        <div class="all_specialty all_listing" id="all_specialty">
            {% comment %}

            {% for specialty in request.user.specialty.all %}
            <div class="single">
                <div class="form-floating mb-3">


                    <input value="{{specialty.title}}" type="text" id="specialty{{forloop.counter}}"
                        name="specialty{{forloop.counter}}" class="form-control"
                        placeholder="Specialty {{forloop.counter}}">

                    <label for="specialty{{forloop.counter}}">Specialty {{forloop.counter}}</label>

                </div>

                <div class="form-floating mb-3">
                    <textarea id="specialtydesc_{{forloop.counter}}" name="specialtydesc_{{forloop.counter}}"
                        class="form-control my-2" style="height: 200px;"
                        placeholder="Short Description">{{specialty.description}}</textarea>

                    <label for="specialtydesc_{{forloop.counter}}">Short Description</label>
                </div>
            </div>
            {% endfor %}
            {% endcomment %}

        </div>

        <button id="spe__button" onclick="addBtnClicked(this, 'spe')" class=" d-flex btn btn-sm btn-success"
            type="button">Add
            Specialty</button>

    </div>



    <div class="expertise_tag my-4">
        <h1 class="fw-bold">Your Expertise</h1>
        <hr>
        <div class="all_expertise all_listing" id="all_expertises">

        </div>

        <button id="exp__button" onclick="addBtnClicked(this, 'exp')" class=" d-flex btn btn-sm btn-success"
            type="button">Add
            Expertise</button>

    </div>



    <div class="education_tag my-4">
        <h1 class="fw-bold">Your Education</h1>
        <hr>
        <div class="all_education all_listing" id="all_educations">

        </div>

        <button id="edu__button" onclick="addBtnClicked(this, 'edu')" class="d-flex btn btn-sm btn-success"
            type="button">Add
            Education</button>

    </div>



    <div class="affiliation_tag my-4">
        <h1 class="fw-bold">Your Affiliations</h1>
        <hr>
        <div class="all_affiliations all_listing" id="all_affiliations">

        </div>

        <button id="aff__button" onclick="addBtnClicked(this, 'aff')" class=" d-flex btn btn-sm btn-success"
            type="button">Add
            Affiliation</button>
    </div>



    <div class="honourandaward_tag my-4">
        <h1 class="fw-bold">Your Honour and Awards</h1>
        <hr>
        <div class="all_honourandawards all_listing" id="all_honourandawards">

        </div>

        <button id="haa__button" onclick="addBtnClicked(this, 'haa')" class=" d-flex btn btn-sm btn-success"
            type="button">Add
            Honour and Awards</button>
    </div>


</div>



    <button class="btn btn-primary" id="save__profile__change" type="submit">Save</button>
</form>

<div class="hidden">
    <!-- formDiv, formDivDesc, formIndex, name, inputinnerText=null, textareaInnerText=null -->

    <div id="all_speciailties__need_to_map_dj">
        {% for specialty in request.user.specialty.all %}
        <div class="item" data-item-name="Specialty" data-item-input-inner-text="{{ specialty.title }}"
            data-item-textarea-inner-text="{{ specialty.description }}"></div>
        {% endfor %}
    </div>


    
    <div id="all_education__need_to_map_dj">
        {% for specialty in request.user.education.all %}
        <div class="item" data-item-name="Education" data-item-input-inner-text="{{ specialty.title }}"
            data-item-textarea-inner-text="{{ specialty.description }}"></div>
        {% endfor %}
    </div>



    <div id="all_expertise__need_to_map_dj">
        {% for specialty in request.user.expertise.all %}
        <div class="item" data-item-name="Expertise" data-item-input-inner-text="{{ specialty.title }}"
            data-item-textarea-inner-text="{{ specialty.description }}"></div>
        {% endfor %}
    </div>

    <div id="all_affiliation__need_to_map_dj">
        {% for specialty in request.user.affiliations.all %}
        <div class="item" data-item-name="Affiliation" data-item-input-inner-text="{{ specialty.title }}"
            data-item-textarea-inner-text="{{ specialty.description }}"></div>
        {% endfor %}
    </div>

    <div id="all_haa__need_to_map_dj">
        {% for specialty in request.user.honors_and_awards.all %}
        <div class="item" data-item-name="Honors and Awards" data-item-input-inner-text="{{ specialty.title }}"
            data-item-textarea-inner-text="{{ specialty.description }}"></div>
        {% endfor %}
    </div>

</div>



<script>

function generateRandom16DigitNumber() {
    let randomNumber = '';
    for (let i = 0; i < 5; i++) {
        randomNumber += Math.floor(Math.random() * 10);
    }
    return randomNumber;
};



    document.addEventListener("DOMContentLoaded", function () {
        profileShifter();
        const toScrape = {
            'all_speciailties__need_to_map_dj': 'spe',
            'all_education__need_to_map_dj': 'edu',
            'all_expertise__need_to_map_dj': 'exp',
            'all_affiliation__need_to_map_dj': 'aff',
            'all_haa__need_to_map_dj': 'haa',
        };
        for (let key in toScrape) {
            already_feilds_mapper(key, toScrape[key]);
        };

    });



    function already_feilds_mapper(id_of_elems, short_name) {
        var specialties = document.querySelector(`#${id_of_elems}`).querySelectorAll('.item');


        specialties.forEach(element => {
            let name = element.getAttribute('data-item-name');
            let inputText = element.getAttribute('data-item-input-inner-text');
            let textareaText = element.getAttribute('data-item-textarea-inner-text');
            addBtnClicked(null, short_name, inputText, textareaText)
        });
    }

    function profileShifter() {
        const profilePictureEdit = document.getElementById("profile__p__edit");
        const changeProfileBtn = document.getElementById("changeProfileBtn");
        const profilePictureInput = document.getElementById("profilePictureInput");

        // Add click event listener to the button
        changeProfileBtn.addEventListener("click", function () {
            // Trigger file input when the button is clicked
            profilePictureInput.click();
        });

        // Add change event listener to the file input
        profilePictureInput.addEventListener("change", function () {
            const file = this.files[0]; // Get the selected file

            if (file) {
                // If a file is selected, display it in the image tag
                const reader = new FileReader();

                reader.onload = function (e) {
                    profilePictureEdit.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
            // If no file is selected, do nothing and retain the previous image
        });
    }

    function validateUrl(element) {
        // Extract URL value from the input element
        var url = element.value;

        // Extract the ID of the element
        var elementId = element.id;

        var urlRegex = new RegExp(
            "^(https?:\\/\\/)?" + // protocol
            "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
            "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
            "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
            "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
            "(\\#[-a-z\\d_]*)?$",
            "i",
            "|^$", // empty input
        );
        var isValid = url !== "" ? urlRegex.test(url) : true;
        if (!isValid) {

            var errorMessage = element.parentNode.querySelector('p');
            if (!errorMessage) {
                errorMessage = document.createElement('p');
            }

            errorMessage.className = 'text-danger text-danger mx-2';
            errorMessage.innerText = 'URL is not valid.';
            element.parentNode.appendChild(errorMessage);

            save__profile__change.disabled = true;
        } else {
            // URL is valid, remove error message if exists
            var errorMessage = element.parentNode.querySelector('p');
            if (errorMessage) {
                element.parentNode.removeChild(errorMessage);
            };
            save__profile__change.disabled = false;
        }

        return isValid;
    }

    function createPacker(formDiv, formDivDesc, formIndex, name, inputinnerText, textareaInnerText) {
        formDiv.innerHTML = createInputwithLabel(`${name.replace(/\s+/g, '').toLowerCase()}${formIndex}`, `form-control my-2`, `${name}`, inputinnerText);

        formDivDesc.innerHTML = createTextAreawithLabel(`${name.replace(/\s+/g, '').toLowerCase()}desc_${formIndex}`, `form-control my-2`, `Short Description`, `200px`, textareaInnerText);
    }

    function createTextAreawithLabel(id, className, placeholder, height, innerText) {
        var form = document.createElement("div")
        form.className = "form-floating mb-3"
        var label = document.createElement("label")
        label.setAttribute('for', id)
        label.innerText = placeholder

        var textarea = document.createElement("textarea");
        textarea.id = id;
        textarea.name = id;
        textarea.className = "form-control my-2";
        textarea.style.height = "200px";
        textarea.placeholder = "Short Description";
        textarea.value = "Initial value for the textarea";
        innerText && (textarea.innerText = innerText)

        form.appendChild(textarea);
        form.appendChild(label);
        return form.innerHTML;
    }
    function createInputwithLabel(id, className, placeholder, innerText) {
        var form = document.createElement("div")
        form.className = "form-floating mb-3"
        var label = document.createElement("label")
        label.setAttribute('for', id)
        label.innerText = placeholder

        var input = document.createElement("input");
        input.id = id;
        input.name = id;
        input.className = "form-control my-2";
        input.placeholder = placeholder;
        innerText && (input.setAttribute('value', innerText))

        form.appendChild(input);
        form.appendChild(label);
        return form.innerHTML;
    }

    function addBtnClicked(ele, what, inputinnerText, textareaInnerText) {
        if (ele === null) {
            ele = document.getElementById(`${what}__button`)
        }
        const formIndex = ele.parentNode.querySelectorAll('.all_listing>div').length + 1  + generateRandom16DigitNumber()
        const formDiv = document.createElement('div');
        formDiv.className = 'form-floating mb-3';
        formDiv.id = `form_${formIndex}`;

        const formDivDesc = document.createElement('div');
        formDivDesc.className = 'form-floating mb-3';
        formDivDesc.id = `form_${formIndex}`;

        if (what == 'aff') {
            createPacker(formDiv, formDivDesc, formIndex, 'Affiliation', inputinnerText, textareaInnerText)
        } else if (what == 'exp') {
            createPacker(formDiv, formDivDesc, formIndex, 'Expertise', inputinnerText, textareaInnerText)
        } else if (what == 'edu') {
            createPacker(formDiv, formDivDesc, formIndex, 'Education', inputinnerText, textareaInnerText)
        } else if (what == 'haa') {
            createPacker(formDiv, formDivDesc, formIndex, 'Honour and Awards', inputinnerText, textareaInnerText)
        } else if (what == 'spe') {
            createPacker(formDiv, formDivDesc, formIndex, 'Specialty', inputinnerText, textareaInnerText)
        }

        let single_div = document.createElement('div');
        var hrelem = document.createElement('hr');
        single_div.className = 'single';
        let delBtn = document.createElement('button');
        delBtn.className = 'my-2 btn btn-danger btn-sm d-flex mx-auto';
        delBtn.innerHTML = '<i class="fa fa-trash-o"></i>'
        delBtn.addEventListener('click', function (e) {
            packerDeleter(e, this)
        });

        single_div.appendChild(formDiv)
        single_div.appendChild(formDivDesc)
        single_div.appendChild(delBtn)
        single_div.appendChild(hrelem)

        ele.parentNode.querySelectorAll('.all_listing')[0].appendChild(single_div)

    };

    function packerDeleter(e, elem){
        e.preventDefault();
        elem.parentNode.remove()
    }
</script>
{% endblock content %}