{% extends "base/base.html" %}


{% block content %}
  

<form id="id_password_reset_form" method="POST" class=" form-signin login-form-container">
    {% csrf_token %}
    
    {% if messages %}
    <div class="errorlist">
        {% for message in messages %}
            <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
        {% endfor %}
    </div>
  {% endif %}

  <h1 class="fw-bold text-secondary">Reset Your Password</h1>
  <hr>
  <div class="form-floating">
  
  <input name="email" class="form-control my-5" placeholder="Email address" type="email" id="id_email" required="true" >
  <label for="id_email">Email address</label>
</div>
  
    <div class="lower__btns">
    <button type="submit" class="green-bg no_border">Send Email</button>
    <a class="no_underline dark-blue-bg no_border text-white" href='{% url "signup_view" %}'>
      Signup
    </a>
  </div>
  
  </form>


{% endblock content %}