{% extends "base/base.html" %}


{% block content %}
  

<div class="  login-form-container">
    {% csrf_token %}
    
    {% if messages %}
    <div class="errorlist">
        {% for message in messages %}
            <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
        {% endfor %}
    </div>
  {% endif %}

  <h1 class="fw-bold text-success">Confirm</h1>
  <hr>

  <div>
    <p class="m-auto">Your password has been reset. You may go ahead.
  </div>


    <div class="lower__btns">
        <a class="no_underline dark-blue-bg  no_border text-white my-5" href="{% url 'homepage_view' %}">Homepage</a>
        <a class="no_underline green-bg no_border text-white my-5" href="{% url 'login_view' %}">Login</a>
  </div>
  
  </div>


{% endblock content %}