


{% extends "base/base.html" %}


{% block content %}
  

<form method="post" action="{% url 'login_view' %}" class=" login-form-container">
    {% csrf_token %}
    
    {% if messages %}
    <div class="errorlist">
        {% for message in messages %}
            <button class="rounded btn btn-danger mx-auto d-flex">{{ message }}</button>
        {% endfor %}
    </div>
  {% endif %}

  <h1 class="fw-bold text-secondary">Status</h1>
  <hr>

  <div>
    <p class="m-auto p-2 my-3">
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p class="m-auto p-2 my-3">
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
  </div>
  
    <div class="lower__btns">
        <a class="no_underline green-bg no_border text-white" href="{% url 'homepage_view' %}">
    Homepage
    <a class="no_underline dark-blue-bg no_border text-white" href='{% url "login_view" %}'>
      Login
    </a>
  </div>
  
  </form>


{% endblock content %}